@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transition: all .3s ease-in-out;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar {
  display: none;
}
.active li {
  color: rgb(0,82,204) !important;
  border-bottom:2px solid rgb(0,82,204) !important;
  border-radius: 0rem !important;
}